<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <%= render 'product', product: product %>
  <% end %>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
